<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <statusListener class="ch.qos.logback.core.status.NopStatusListener" />
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>%cyan(%d{HH:mm:ss.SSS}) %gray([%thread]) %highlight(%-5level) %magenta(%logger{36}) - %msg%n</Pattern>
        </layout>
    </appender>

    <logger name="io.grpc.netty" level="WARN"/>
    <logger name="io.netty" level="WARN"/>
    <logger name="io.temporal" level="WARN"/>
    <logger name="io.temporal.internal.worker.Poller" level="ERROR"/>

    <root level="DEBUG">
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>
